{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="bodys">
    <div class="album bg-light">
        <div class="container-sm">
            <div class="album bg-light">
              <div class="container">
                  <header>
                    <div class="containers">
                        <div class="profile">
                            <div class="profile-image">
                                {% if profile.image %}
                                <img src="{{profile.image.url}}" style="padding-left:20px;" width="200" height="200">
                                {% else %}
                                <img src="{% static 'profile.jpg' %}" style="padding-left:20px;" width="200" height="200">
                                {% endif %}
                            </div>

                            <div class="profile-user-settings"><br>
                                <h1 style="padding-left:30px;">{{users.username}}</h1>
                                {% if request.user == users %}
                                <a href="{% url 'common:modify' users.username  %}">
                                    <button type="submit" class="btn profile-edit-btn" href="{% url 'common:modify' users.username  %}">
                                        Edit Profile
                                    </button>
                                </a>
                                {% endif %}
                            </div>

                            <div class="profile-stats">
                                <ul>
                                    <li><span class="profile-stat-count">{{posts.count}}</span> posts</li>
                                    <li><span class="profile-stat-count">188</span> followers</li>
                                    <li><span class="profile-stat-count">206</span> following</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End of profile section -->
                    </div>
                    <!-- End of container -->
                  </header>
                  {% for post in posts %}
                  <div class="row">
                      <div class="container">
                          <div class="card shadow-sm">

                              <a href="{% url 'facebook:post_user' post.author %}" class="list-group-item">
                                  <div class="profile-image">
                                      {% if profile.image %}
                                      <img src="{{profile.image.url}}" width="40" height="40">
                                      {% else %}
                                      <img src="{% static 'profile.jpg' %}" width="40" height="40">
                                      {% endif %}
                                  </div>
                                  <div style="margin-left:50px; margin-top:6px;">{{ post.author }}</div>
                              </a>
                              <img class="card-img-top" src="{{ post.image.url }}" alt=" Card image cap">
                              <div class="card-body">

                                  <h4>{{ post.title }}</h4>
                                  <p class="card-text">{{ post.content }}</p>
                                  <p class="card-text">{{ post.voter.count }}</p>
                                   <a href="{% url 'facebook:vote_post' post.id 'post' %}" class="recommend btn btn-sm btn-secondary btn-block my-1">추천</a>
                                  {% if request.user == post.author %}
                                  <div class="my-3">
                                      <a href="{% url 'facebook:post_modify' post.id  %}"
                                         class="btn btn-sm btn-outline-secondary">수정</a>
                                      <a href="{% url 'facebook:post_delete' post.id  %}" class="btn btn-sm btn-outline-secondary delete">삭제</a>
                                  </div>
                                  {% endif %}
                                  {% if post.comment_set.count > 0 %}
                                    <div class="mt-3">
                                    {% for comment in post.comment_set.all %}  <!-- 등록한 댓글을 출력 -->
                                        <div class="comment py-2 text-muted">  <!-- 댓글 각각에 comment 스타일 지정 -->
                                            <span style="white-space: pre-line;">{{ comment.content }}</span>
                                            <span>
                                                - {{ comment.author }}, {{ comment.create_date }}
                                                {% if comment.modify_date %}
                                                (수정:{{ comment.modify_date }})
                                                {% endif %}
                                            </span>
                                            {% if request.user == comment.author %}
                                            <a href="{% url 'facebook:comment_modify_post' comment.id 'post' %}" class="small">수정</a>,
                                            <a href="{% url 'facebook:comment_delete_post' comment.id 'post' %}" class="small delete">삭제</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div>
                                        <a href="{% url 'facebook:comment_create_post' post.id 'post' %}"
                                           class="small"><small>댓글 추가 ..</small></a>  <!-- 댓글 추가 링크 -->
                                    </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}