{% extends 'base.html' %}
{% load filter %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="bodys">
    <div class="album bg-light">
        <div class="container-sm">
            <div class="album bg-light">
              <div class="container">
                  <header>
                    <div class="containers">
                        <div class="profile">
                            <div class="profile-image">
                                {% if profile.image %}
                                <img src="{{profile.image.url}}" style="padding-left:20px;" width="200" height="200">
                                {% else %}
                                <img src="{% static 'profile.jpg' %}" style="padding-left:20px;" width="200" height="200">
                                {% endif %}
                            </div>

                            <div class="profile-user-settings"><br>
                                <h1 style="padding-left:30px;">{{users.username}}</h1>

                            </div>

                            <div class="profile-stats">
                                <ul>
                                    <a href="{% url 'facebook:post_user' users.username  %}" style="text-decoration-line: none; color:black;">
                                        <li><span class="profile-stat-count">{{posts.count}}</span> posts</li>
                                    </a>
                                    <a href="{% url 'facebook:follower_all' users.username  %}" style="margin-left:20px; text-decoration-line: none; color:black;">
                                        <li><span class="profile-stat-count">{{profile.follower.count}}</span> followers</li>
                                    </a>
                                    <a href="{% url 'facebook:follow_all' users.username  %}" style="margin-left:20px; text-decoration-line: none; color:black;">
                                        <li><span class="profile-stat-count">{{profile.follow.count}}</span> following</li>
                                    </a>
                                </ul>

                                {% if request.user == users %}
                                <a href="{% url 'common:modify' users.username  %}" style="text-decoration-line: none; color:black;">
                                    <button type="submit" class="btn profile-edit-btn" href="{% url 'common:modify' users.username  %}">
                                        프로필 편집
                                    </button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End of profile section -->
                    </div>
                    <!-- End of container -->
                  </header>
                  {% for post in posts %}
                  <div class="row">
                      <div class="container">
                          <div class="card shadow-sm">

                              <a href="{% url 'facebook:post_user' post.author %}" class="list-group-item">
                                  <div class="profile-image">
                                      {% if profile.image %}
                                      <img src="{{profile.image.url}}" width="40" height="40">
                                      {% else %}
                                      <img src="{% static 'profile.jpg' %}" width="40" height="40">
                                      {% endif %}
                                  </div>
                                  <div style="margin-left:50px; margin-top:6px;">{{ post.author }}</div>
                              </a>
                              <img class="card-img-top" src="{{ post.image.url }}" alt=" Card image cap">
                              <div class="card-body">
                                   <h4>{{ post.title }}</h4>
                                  <p class="card-text">{{ post.content }}</p>
                                  {% if post.modify_date %}
                                  <p class="card-text">
                                      {{ post.modify_date }} (수정)

                                      {% if request.user == post.author %}
                                      <a href="{% url 'facebook:post_modify' post.id  %}"
                                         class="btn btn-sm btn-outline-secondary">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                      </a>
                                      <a href="{% url 'facebook:post_delete' post.id  %}" class="btn btn-sm btn-outline-secondary delete">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                      </a>
                                      {% endif %}
                                  </p>
                                  {% else %}
                                  <p class="card-text">
                                      {{ post.create_date }}

                                      {% if request.user == post.author %}
                                      <a href="{% url 'facebook:post_modify' post.id  %}"
                                         class="btn btn-sm btn-outline-secondary">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                      </a>
                                      <a href="{% url 'facebook:post_delete' post.id  %}" class="btn btn-sm btn-outline-secondary delete">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                      </a>
                                      {% endif %}
                                  </p>
                                  {% endif %}



                                  <p class="card-text">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                        </svg>
                                      {{ post.voter.count }}
                                  </p>


                                  <center>
                                      <a class="btn btn-primary btn-lg" href="{% url 'facebook:vote_post' post.id 'home' %}" class="recommend btn btn-sm btn-secondary btn-block my-1" style="width:45%;">
                                          <h5>
                                              {% confirm_like request.user.username post.id as l %}
                                              {% if l == 'like' %}
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                </svg>
                                              {% else %}
                                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                   <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                               </svg>
                                              {% endif %}
                                              좋아요
                                          </h5>
                                      </a>
                                      <a class="btn btn-primary btn-lg" href="{% url 'facebook:comment_create_post' post.id 'home' %}" class="recommend btn btn-sm btn-secondary btn-block my-1" style="width:45%;">
                                          <h5>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                                                  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                </svg>
                                              댓글 달기
                                          </h5>
                                      </a>
                                  </center>



                                  {% if post.comment_set.count > 0 %}
                                    <div class="mt-3">
                                    {% for comment in post.comment_set.all %}  <!-- 등록한 댓글을 출력 -->
                                        <div class="comment py-2 text-muted">  <!-- 댓글 각각에 comment 스타일 지정 -->
                                            <span style="white-space: pre-line;">{{ comment.content }}</span>
                                            <span>
                                                - {{ comment.author }},
                                                {% if comment.modify_date %}
                                                {{ comment.modify_date }} (수정)
                                                {% else %}
                                                {{ comment.create_date }}
                                                {% endif %}
                                            </span>
                                            {% if request.user == comment.author %}
                                            <a href="{% url 'facebook:comment_modify_post' comment.id 'post' %}" class="small">수정</a>,
                                            <a href="{% url 'facebook:comment_delete_post' comment.id 'post' %}" class="small delete">삭제</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    </div>
                                    {% endif %}


                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}